<div class="container">
  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
  <div class="carousel">
    <ul class="frames">
      <li id='cell'>
        <div class="fill">
          <form id = "title" class="form-horizontal" action="/user/<%=@user.id%>/create/survey" method="post">
            <label class="control-label" for="inputTitle">Enter Title</label>
            <input type="text" class="input-xlarge" name="survey_title" placeholder= "Survey Title">
            <center>
            <br>
            <input id = "button" type="submit" class="btn btn-large btn-info" value = "Create Survey">
            </center>
          </form>
        </div>
      </li >
      <li id='cell'>
        <div class="fill">
          <br>
          <form id = "question1" class="form-horizontal" action="/user/<%=@user.id%>/create/question" method="post">
            <div class="control-group success">
              <label class="control-label" for="inputSuccess">Survey Question</label>
              <input class="span4" type="text" name="question_title" id="inputSuccess">
            </div>
            <% 4.times.each do |i| %>
            <div class="control-group info">
              <label class="control-label" for="inputInfo">Possible Choice</label>
              <input class="span4" type="text" name ='question_answer<%="#{i+1}"%>' id="inputInfo">
            </div>
            <% end %>
            <center>
            <input id = "first_question" type="submit" class="btn btn-large btn-info" value="Make Me!">
            <a href = "/"><button class="btn btn-large btn-info" type="button">All Done!</button></a>
            </center>
          </form>
        </div>
      </li>
      <li id='cell'>
        <div class="fill">
          <br>
          <form id = "question2" class="form-horizontal" action="/user/<%=@user.id%>/create/question" method="post">
            <div class="control-group success">
              <label class="control-label" for="inputSuccess">Survey Question</label>
              <input class="span4" type="text" name="question_title" id="inputSuccess">
            </div>
            <% 4.times.each do |i| %>
            <div class="control-group info">
              <label class="control-label" for="inputInfo">Possible Choice</label>
              <input class="span4" type="text" name ='question_answer<%="#{i+1}"%>' id="inputInfo">
            </div>
            <% end %>
            <center>
            <input id = "second_question" type="submit" class="btn btn-large btn-info" value="Make Me!">
            <a href = "/"><button class="btn btn-large btn-info" type="button">All Done!</button></a>
            </center>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
