<container>

  <form action="/user/<%=@user.id%>/survey/<%=@survey.id%>/question/<%=@question.id%>/edit" method="post">
    <input type="text" name="question_title" value= "<%=@question.content%>">
    <br>
    <% @question.answers.each do |answer|  %>
      <input type="text" name='<%=answer.id%>' value= "<%=answer.content%>">
      <br>
    <% end %>
      <input type="submit" value="Edit Me!">
  </form>
  <!-- add a button for adding questions here -->

  <form action="/" method="get">
      <input type="submit" value="All Done!">
  </form>

</container>
