  <div class="hero-unit">
    <h1>Welcome <%=@user.name%></h2>
    <h2>Which survey would you like to take?</h2>

    <div class = "survery_links">
      <ul>
        <% if @surveys %>
          <% @surveys.each do |survey| %>
           <li><a href="/user/<%=@user.id%>/survey/<%= survey.id %>"><%=survey.name%></a></li>
          <% end %>
          <%else%>
            <h2>No Surveys Available</h2>
        <% end %>
      </ul>
    </div>
  <br><br><br>
  <form style = "display: inline-block" class="form-horizontal" action="/user/<%=@user.id%>/create_survey" method="get">
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-large btn-info" value="Create Survey!">
      </div>
    </div>
  </form>


  <form style = "display: inline-block" class="form-horizontal" action="/user/<%=@user.id%>/profile" method="get">
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-large btn-info" value="Profile Me!">
      </div>
    </div>
  </form>
  <br>
</div>
