<div class="hero-unit">
  <h2 class="text-success"><%= @survey.name %></h1>
  <form class="form-horizontal" name = "survey" action = "/user/<%=@user.id%>/survey/<%=@survey.id%>/save" method = "POST">
    <br>
      <% @survey.questions.each_with_index do |question, i| %>
        <div class="control-group">
          <div class="controls">
            <p><strong><%= question.content %></strong></p>
            <% question.answers.each do |answer| %>
              <li class = "answer_display"><input type="radio" name= <%= i %> value= <%= answer.id %>><%= answer.content %></li>
          <% end %>
        </div>
    </div>
    <% end %>
    <div class="control-group">
        <div class="controls">
          <input class="btn btn-large btn-info" type = "submit" value = "Submit">
        </div>
      </div>
  </form>
</div>
