<container>
  <center>
    <h2>Welcome <%=@user.name%></h2>
    <h3>Which survey would you like to take?</h3>

    <div class = "survery_links">
      <ul>
        <% if @surveys %>
          <% @surveys.each do |survey| %>
           <li><a href="/user/<%=@user.id%>/survey/<%= survey.id %>"><%=survey.name%></a></li>
          <% end %>
          <%else%>
            <p>No Surveys Available</p>
        <% end %>
      </ul>
    </div>

    <form action="/user/<%=@user.id%>/create_survey" method="post">
      <input type="submit" value="Create Survey">
    </form>
    <br>
    <form action="/sign_out" method="get">
      <input type="submit" value="Iam Out!">
    </form>

    <form action="/user/<%=@user.id%>/profile" method="get">
      <input type="submit" value="Profile Me!">
    </form>
    <br>

  </center>
</container>
