
<article class = "cha">
<div id="results_page" style="width:100; height: 400px;" ></div>
<% @previous_index = @index -1 %>
<% @index += 1 %>
<div class = "brah">

<form id = "next_last" class="form-horizontal" action="/user/<%="#{@user.id}"%>/survey/<%="#{@survey.id}"%>/question/<%="#{@previous_index}"%>/results" method="get">

        <input type="submit" class="btn btn-large btn-info left" value="Last Question">

</form>
<form id = "next_last" class="form-horizontal" action="/user/<%="#{@user.id}"%>/survey/<%="#{@survey.id}"%>/question/<%="#{@index}"%>/results" method="get">

        <input type="submit" class="btn btn-large btn-info right" value="Next Question">

</form>
</div>
<br><br>
</article>
<script>

$(function () {
    $('#results_page').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: "<%=@question.content%>"
        },
        xAxis: {
            categories: <%= @categories_array %>
        },
        yAxis: {
            title: {
                text: 'Vote Count'
            }
        },
        series: [{
            name: 'All Users',
            data: <%= @data_array %>
        }]
    });
});



</script>
