
<div id="results_page" style="width:100; height: 400px;" ></div>
<% @index += 1 %>

<form class="form-horizontal" action="/user/<%="#{@user.id}"%>/survey/<%="#{@survey.id}"%>/question/<%="#{@index}"%>/results" method="get">
    <div class="control-group">
        <div class="controls">
        <input type="submit" class="btn btn-large btn-info" value="Next Question">
      </div>
    </div>
</form>
<script>

$(function () {
    $('#results_page').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: "<%=@question.content%>"
        },
        xAxis: {
            categories: <%= @categories_array %>
        },
        yAxis: {
            title: {
                text: 'Times Chosen'
            }
        },
        series: [{
            name: 'All Users',
            data: <%= @data_array %>
        }]
    });
});



</script>
